body {
  margin: auto;
  padding: 0 2%;
  background-color: Black;
  color: LightGrey;
  font-size: 1.25rem;
  max-width: 700px;
  // figure this out...

}

a {
  color: DarkRed;
}

a:hover {
  color: DarkRed;
}

#dracula,
#by-bram-stoker-1897,
#table-of-contents {
  text-align: center;
}

#dracula > a {
  font-size: 4rem;
  color: DarkRed;
  text-decoration: none;
}

p {
  text-indent: 1rem;
  line-height: 1.5em;
}
